<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/octicons/2.1.2/octicons.min.css">
    <link rel="stylesheet" type="text/css" href="/build/css/markdown.css ">
    <link rel="stylesheet" href="./build/css/main.css?t={{buildTime}}" media="screen" charset="utf-8">
  </head>
  <body>
    <div id="header"></div>
    <div id="output" class="container"></div>
    <footer class="footer container">
      An <a href="http://insekai.com">INSEKAI</a> Project
    </footer>
    {% raw %}
    <script id="header-template" type="text/template">
    <header class="header">
      <div class="container">
      <h1 class="site-title">
          <a href="/#!home">Code</a>
      </h1>
      <form class="search-form">
        <input class="site-search" name="q" value="{{q}}">
      </form>
      <ul class="nav-right">
        {% if userdata %}
        <li>
          <a class="nav-tab{% if navTab == 'user' %} active{% endif %}" href="/#!user/{{userdata.login}}">{{userdata.login}}</a>
        </li>
        <li>
          <a class="nav-tab{% if navTab == 'new' %} active{% endif %}" href="/#!new">Share</a>
        </li>
        <li>
          <a class="nav-tab" href="/#!logout">Exit</a>
        </li>
        {% else %}
        <li>
          <a class="btn btn-sm btn-round" href="/#!signin">Sign in with GitHub</a>
        </li>
        {% endif %}
      </ul>
      </div>
    </header>
    </script>
    <script id="list-template" type="text/template">
      {% if search_query %}
      <div class="search-result-header">
        We got {{hits}} result{%if codes.length > 1 %}s{%endif%} for <span>「{{search_query}}」</span>:
      </div>
      {% endif %}
      <div class="list-codes">
      {% for code in codes %}
        <div class="item-code">
          <header class="item-code-header">
            <h2 class="item-code-des">{{code.description}}</h2>
            <div class="item-code-meta">
              <span>{% if code.title %}{{code.title}}{% else %}untitled{% endif %}</span>
              <span class="meta-sep"></span>
              {{ code.language }}
              <span class="meta-sep"></span>
              <span><a href="/#!user/{{code.author.username}}">{{code.author.username}}</a></span>
              <span class="meta-sep"></span>
              <span data-hint="{{code.time}}" class="hint--right">{{ code.timeago }}</span>
            </div>
            <div{% if codepage %} id="toImage"{% endif %} class="item-code-content{% if codepage %} codepage{% endif %}">{% if not codepage %}<a href="/#!code/{{code.randomid}}" class="pre-pointer">link</a>{% endif %}
            {% if codepage %}
            <header class="item-code-content-meta">
              <b class="octicon octicon-gist"></b> <a data-hint="The link to the code" class="hint--bottom item-code-meta-title" href="/#!code/{{code.randomid}}">{% if code.title %}{{code.title}}{% else %}untitled{% endif %}</a>
              {% if codepage %}
              <div class="fr">
                <a class="btn btn-sm" href="//raw.avosapps.com/api/code/{{code.randomid}}/raw">Raw</a>
                {% if current_user == code.author.objectId %}
                  <a class="btn btn-sm btn-blue" href="/#!new/{{code.randomid}}">Edit</a>
                  <a class="btn btn-sm btn-red" onclick="deleteCode('{{code.objectId}}')" href="javascript:;">Delete</a>
                {% endif %}
              </div>
              {% endif %}
            </header>
            {% endif %}
            {% if code.language == 'Markdown' %}
            <div class="markdown-body">
              {{code.markdown|safe}}
            </div>
            {% else %}
              <pre class="pre">{{code.line_number|safe}}<code class="{{code.language.toLowerCase()}}">{{code.content_highlight|safe}}</code></pre>
            {% endif %}
            </div>
          </header>
        </div>
        {% if codepage %}
        <div class="item-code-opts">
          <div class="item-code-frame">
          <b class="small-title">Embed</b>
            <input onclick="this.select()" style="width:100%" spellcheck="false" class="form-control" value='&lt;script src="//raw.avosapps.com/api/code/{{code.randomid}}/embed"&gt;&lt;/script&gt;'>

          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      {% if search_query and codes.length == 0 %}
        <div class="no-search-result">
          Nothing matches your query :(
        </div>
      {% endif %}
    </script>
    <script id="pagenavi-template" type="text/template">
      <div class="pagenavi">
        <a class="pagenavi-link pagenavi-left{% if not hasPrev %} pagenavi-disable{% endif %}" href="/#!{{prep}}/{{prevpage}}">Prev</a>
        
        <a class="pagenavi-link pagenavi-right{% if not hasNext %} pagenavi-disable{% endif %}" href="/#!{{prep}}/{{nextpage}}">Next</a>
      </div>
    </script>
    <script id="new-template" type="text/template">
      <div class="editor-header clearfix">
        <input class="form-control" id="description" rows="1" placeholder="descripe your code, required">
        <div class="col-1-3">
          <input class="form-control" type="text" id="title" placeholder="name this file, optional, eg: a.js">
        </div>
        <div class="col-1-3">
          <select id="languages"></select>
        </div>
        <div class="col-1-3">
          <select id="indent">
            <option value="2" selected="true">Indent mode: 2 spaces</option>
            <option value="4">Indent mode: 4 spaces</option>
          </select>
        </div>
      </div>
      <div id="editor"></div>
      <div class="editor-footer clearfix">
        <div class="fr">
          <button class="btn" data-public="true" data-type="{% if randomid %}update{% else %}new{% endif %}" id="submit-public">Submit public code</button>
        </div>
      </div>
    </script>
    <script id="loading-template" type="text/template">
      <div class="loading">
        loading...
      </div>
    </script>
    <script id="user-template" type="text/template">

      <section id="userinfo">Loading...</section>
      <section id="user-codes"></section>
    </script>
    <script id="userinfo-template" type="text/template">
    <header class="user-header">
        <span class="octicon octicon-person"></span> <a href="/#!user/{{username}}">{{username}}</a>
    </header>
    </script>
    {% endraw %}
    <script src="./build/js/vendor.js?t={{buildTime}}"></script>
  </body>
</html>
