.btn
  outline none
  cursor pointer
  border 1px solid #e2e2e2
  background-color #f9f9f9
  padding 10px 10px
  border-radius 3px
  &:hover
    background-color white
    color #3090e4
    border-color @color

.btn-sm
  padding 5px 10px
  font-size 13px

.btn-round
  border-radius 33px
