#editor
  position relative
  top 0
  right 0
  bottom 0
  left 0
  min-height 500px
  border 1px solid #ddd
  border-radius 4px

.editor-footer
  padding 10px 0

.editor-header
  padding 10px 0

#title
  width 90%

#indent
  width 100%

#languages
  width 90%

#description
  margin-bottom 10px
  width 100%
  display block

.block
  display block
  width 100%

.new-folder
  .block
    margin-bottom 10px
  textarea
    padding 10px

.page-title
  h2
    font-size 16px
    font-weight normal
  padding-bottom 20px
  border-bottom 1px solid #e2e2e2
  margin-bottom @padding-bottom

.tabnav
  border-bottom 1px solid #e2e2e2 

.tabnav-tabs
  margin-bottom -1px

.tabnav-tab
  padding 8px 12px
  border-radius 3px 3px 0 0
  display inline-block
  &.selected
    border 1px solid #d2d2d2
    border-bottom none
    background-color #fff
    