#editor
  position relative
  top 0
  right 0
  bottom 0
  left 0
  min-height 500px
  border 1px solid #ddd
  border-radius 4px

.editor-footer
  padding 10px 0

.editor-header
  padding 10px 0

#title
  width 90%

#indent
  width 100%

#languages
  width 90%

#description
  margin-bottom 10px
  width 100%
  display block
