.item-code
  margin-bottom 20px
  background-color white
  .item-code-meta
    color #999
    font-size 13px
    margin-top 8px
    a
      color #999
      &:hover
        color $linkColor
  .item-code-content
    margin-top 10px
    position relative

.meta-sep
  &:before
    content '/'
    margin 0 3px
    vertical-align middle
    color #eee

.item-code-content-meta
  padding 10px
  background #f9f9f9
  font-size 14px
  border-bottom 1px solid #e2e2e2

.item-code-meta-title
  color $linkColor
  font-size 12px
  font-weight bold
  text-decoration none