@media screen and (max-width: 768px)
  .header
    .container
      padding 0 10px
  #output
    &.container
      padding 10px !important
      border-radius 0 !important
  .search-form
    display none
