.nav-right
  float right
  li
    float left
  li+li
    margin-left 20px
  .nav-tab
    font-size 13px
    display block
    line-height 43px
    border-bottom 1px solid transparent
    &.active,
    &:hover
      border-color #999
